button {
    border: none;
    background-color: transparent;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: relative;
}

.search {
    background-color: #F2F2F2DB;
    border: 0px;
    border-radius: 20px;
    width: 340px;
    height: 50px;
    padding-left: 20px;
}

.search-btn {
    position: absolute;
    left: 80%;
    top: 60%;
}

.apply-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 20px;
    padding-top: 10%;
}

.menu-container {
    padding-top: 20px;
    margin-left: 25px;
}

.menu-title {
    margin-top: 15px;
    font-weight: bolder;
}

.menu-img {
    margin-top: 10px;
    width: 95%;
}

.nav-container {
    position: fixed;
    /*메뉴바고정*/
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    /*메뉴 항목 가로로 배치*/
    margin: 20px 20px;
}

.nav-link img {
    width: 30px;
    /* 이미지 크기 설정 */
    height: 30px;
}

.item-text {
    display: block;
    /* 텍스트를 블록 레벨로 표시하여 이미지 밑에 오도록 설정 */
    margin-top: 5px;
    color: black;
    /* 글자 색상 설정 */
    font-size: 13px;
    /* 글자 크기 설정 */
}