button {
    border: none;
    background-color: transparent;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: relative;
}

.search {
    background-color: #F2F2F2DB;
    border: 0px;
    border-radius: 20px;
    width: 340px;
    height: 50px;
    padding-left: 20px;
}

.search-btn {
    position: absolute;
    left: 80%;
    top: 60%;
}

.apply-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 20px;
    padding-top: 10%;
}

.menu-container {
    padding-top: 20px;
    margin-left: 25px;
}

.menu-title {
    margin-top: 15px;
    font-weight: bolder;
}

.menu-img {
    margin-top: 10px;
    width: 95%;
}
